extends layout

block content
  h2 Add a New Movie
  form(method="POST", action="/movies/add")
    label Name:
    input(type="text", name="name", required)
    br
    label Description:
    textarea(name="description")
    br
    label Year:
    input(type="number", name="year")
    br
    label Genres (comma-separated):
    input(type="text", name="genres")
    br
    label Rating (0-10):
    input(type="number", name="rating", step="0.1", min="0", max="10")
    br
    button(type="submit") Add Movie
