doctype html
html
  head
    title Movie App
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Movie App
      nav
        if !currentUser
          a(href="/login") Login
          a(href="/register") Register
        else
          a(href="/movies/add") Add Movie
          form(method="POST", action="/logout", style="display:inline")
            button(type="submit") Logout

    main
      if error
        p.error-msg= error

      block content
